<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="demo-loan-frontend.ZPM">
    <Module>
    <Dependencies>
    <ModuleReference>
          <Name>interoperability-loan-rest-api</Name>
          <Version>*</Version>
        </ModuleReference>
    </Dependencies>
      <Name>demo-loan-frontend</Name>
      <Version>1.0.3</Version>
      <Description>Frontend for Demo-Loan Interoperability case</Description>
      <Keywords>REST,Frontend,React,Lovable</Keywords>
      <Packaging>module</Packaging>
      <CSPApplication 
  Url="/loan"
  SourcePath="/dist"
  DeployPath="${cspdir}loan"
  CookiePath="${cspdir}loan"
  Recurse="1"
  ServeFiles="1"
  UseCookies="2"
/>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>